.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
.navbar-brand img {
  margin-top: -15px;
}
.footer {
  position: absolute;
  width: 100%;
  min-height: 40px;
  background-color: #f5f5f5;
}
footer {
  padding: 15px 0;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
form .btn-warning {
  margin-left: 10px;
}
