.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
.navbar-brand img {
  margin-top: -15px;
}
#dropdown-login-link {
  color: #fff !important;
}
.navbar-right {
  margin-right: -10px !important;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 40px;
  background-color: #f5f5f5;
}
footer {
  padding: 10px 0;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
form .btn-warning {
  margin-left: 10px;
}
.panel-secondary {
  border-color: #a6ce39;
}
.panel-secondary > .panel-heading {
  color: #fff;
  background-color: #a6ce39;
  border-color: #a6ce39;
}
