extends ../includes/layout

block main-content
    nav.navbar.navbar-inverse.navbar-static-top(role="navigation")
        .container
            .navbar-header
                button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href="/")
                    img(src="/images/logo.png")
            #myNavbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href="/") Home
                    li
                        a(href="/courses") Courses
                    li
                        a(href="/aboutus") About Us
                div(ng-include="'/partials/account/navbar-login'")

    section.content
        div(ng-view)

    footer.footer.text-center
        div.container
            p.text-muted &copy 2015 Elseem Innovations Pvt Ltd.