extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-static-top
        .container
            .navbar-header
                a.navbar-brand(href="/")
                    img(src="/logo.png")
            .navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href="/") Home
                div(ng-include="'/partials/account/navbar-login'")

    section.content
        div(ng-view)

    footer.footer.text-center
        p &copy 2015 Elseem Innovations Pvt Ltd.