.container
    .well
        form.form-horizontal(name="profileEditForm")
            fieldset
                legend Edit Profile
                .form-group
                    label.col-md-2.control-label(for="email") Email
                    .col-md-10
                        input.form-control(name="email", type="email", placeholder="Email", ng-model="email", required)
                        div(ng-messages="signupForm.email.$error")
                            p(ng-message="email") Enter a valid email ID
                .form-group
                    label.col-md-2.control-label(for="fname") First Name
                    .col-md-10
                        input.form-control(name="fname", placeholder="First Name", ng-model="fname", required)
                .form-group
                    label.col-md-2.control-label(for="lname") Last Name
                    .col-md-10
                        input.form-control(name="lname", placeholder="Last Name", ng-model="lname", required)
                .form-group
                    label.col-md-2.control-label(for="password") Password
                    .col-md-10
                        input.form-control(name="password", type="password", placeholder="Password", ng-minlength="6", ng-maxlength="12", ng-model="password")
                        div(ng-messages="signupForm.password.$error")
                            p(ng-message="minlength") Your password should have at least 6 characters
                            p(ng-message="maxlength") Your password cannot exceed 12 characters
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-left
                            p Please fill out all the fields
                        .pull-right
                            button.btn.btn-primary(ng-click="update()", ng-disabled="signupForm.$invalid") Submit
                            | &nbsp;
                            a.btn.btn-default(href="/") Cancel