.container
    .row
        .col-md-12
            h1.page-header Add New Course
    .row
        .col-md-12
            .panel.panel-default
                .panel-heading Course Details
                .panel-body
                    .row
                        .col-md-12
                            form.form
                                .form-group
                                    label Title
                                    input.form-control(ng-model="course.title" name="title" placeholder="Enter the course title" required)
                                .form-group
                                    label(for="tags") Tags
                                    tags-input(ng-model="course.tags")
                                    p.help-block Add tags to categorize your course, each tag should have minimum 3 characters
                                .form-group
                                    label Upload Course Image
                                    input(type="file")
                                .form-group
                                    label Short Description
                                    input.form-control(ng-model="course.shortdescription" name="shortdescription" placeholder="Short Description")
                                    p.help-block Enter a short description of the course not exceeding 15 words
                                .form-group
                                    label Full Description
                                    textarea.form-control(rows="4" ng-model="course.longdescription" name="longdescription" required)
                                    p.help-block Describe your course adequately here
                                .pull-right
                                    .form-group
                                        button.btn.btn-primary(ng-click="addcourse()") Submit
                                        button.btn.btn-default(href="#") Cancel
