.container
    .row
        .col-lg-12
            h1.page-header {{course.title + " "}}
                small Tags -
                    a(ng-repeat="tag in course.tags") {{" " + tag}}{{$last ? '' : ','}}
    .row
        .col-md-8
            img.img-responsive(src="{{course.imageurl}}")
        .col-md-4
            h3 Course Description
            p {{course.longdescription}}
            button.btn.btn-primary(ng-click="addToMyCourse()" ng-show="checkCourseAdd()") Start Learning