div.container
    div.row
        div.span12
            div.jumbotron.text-center
                h2 Acess Denied/Forbidden - ERROR 403
                br
                p You do not have sufficient rights to access this page or area
                p
                    b But we can take you to the home page. Just click below:
                a.btn.btn-lg.btn-info(href="/") Take Me Home