div.container
    div.row
        div.span12
            div.jumbotron.text-center
                h2 Page Not Found - ERROR 404
                br
                p The page you requested could not be found
                p
                    b Or you could just press this neat button:
                a.btn.btn-lg.btn-info(href="/") Take Me Home