.container
    .row
        .col-md-6
            .panel.panel-success
                .panel-heading.panel-title.text-center Are you a teacher?
                .panel-body
                    p If you are an expert on topics and you are interested in teaching, sign up as a Teacher! The people are yet to benefit from your skills and you, from their money!
                    br
                    .text-center
                        a.btn.btn-primary(href="/signup-teacher") Sign Up
        .col-md-6
            .panel.panel-info
                .panel-heading.panel-title.text-center Do you want to learn?
                .panel-body
                    p Want to master your favorite programming language? Need to make a CMS and impress your supervisor? You've come to the right place! Sign up for free now!
                    br
                    .text-center
                        a.btn.btn-primary(href="/signup-user") Sign Up
