div
    p Are you sure you want to delete the user?
    br
    .pull-right
        button.btn.btn-primary(ng-click="confirmDeleteUser()") Confirm
        | &nbsp;
        button.btn.btn-default(ng-click="closeThisDialog()") Cancel
    .clearfix