div
    p Are you sure you want purchase this course?
    br
    .pull-right
        button.btn.btn-primary(ng-click="confirmAddCourse()") Confirm
        | &nbsp;
        button.btn.btn-default(ng-click="closeThisDialog()") Cancel
    .clearfix