div
    p Are you sure you want to remove this course from your subscriptions?
    p Note : If you remove this course you will no longer have access to its content.
    br
    .pull-right
        button.btn.btn-primary(ng-click="confirmDeleteCourse()") Confirm
        | &nbsp;
        button.btn.btn-default(ng-click="closeThisDialog()") Cancel
    .clearfix