.panel.panel-primary
    .panel-heading.panel-title.text-center Featured Courses
    .panel-body
        ul.list-group
            li.list-group-item(ng-repeat="course in courses | filter:{featured:true}") {{course.name}}